/*
We are extending Utopia's Fluid CSS system by dividing it into Landscape and Portrait orientations.
This approach benefits smaller desktop devices and tablets by starting with smaller font sizes
and spacing.

Since the CSS orientation property is also applied by desktop browsers when the
aspect ratio of the window is portrait, we add an additional check for the available width.
The Portrait design will only be activated for viewports up to 960px in width.
The Desktop design will be applied from 960px onwards, regardless of the CSS orientation.
*/

@media (orientation: portrait) and (max-width: 959px) {
  /* @link https://utopia.fyi/type/calculator?c=360,16,1.2,480,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /**
   * Mobile:
   * - Min: 360px at 16px base + 1.2 type scale (Samsung S21/S22)
   * - iPhone SE (3rd generation): 375px
   * - iPhone 12/13/14: 390px
   * - iPhone 14 Pro Max: 430px
   * - Max: 480px at 20px base + 1.333 type scale (Samsung S24 Ultra)
   */
  :root {
    --debug-color: red;
    --step--2: clamp(0.6944rem, 0.6673rem + 0.1204vw, 0.7035rem);
    --step--1: clamp(0.8333rem, 0.5201rem + 1.392vw, 0.9377rem);
    --step-0: clamp(1rem, 0.25rem + 3.3333vw, 1.25rem);
    --step-1: clamp(1.2rem, -0.1987rem + 6.2167vw, 1.6663rem);
    --step-2: clamp(1.44rem, -0.9033rem + 10.4148vw, 2.2211rem);
    --step-3: clamp(1.728rem, -1.9702rem + 16.4366vw, 2.9607rem);
    --step-4: clamp(2.0736rem, -3.5456rem + 24.9742vw, 3.9467rem);
    --step-5: clamp(2.4883rem, -5.8294rem + 36.9678vw, 5.2609rem);
  }
}

@media (orientation: landscape) or (min-width: 960px) {
  /* @link https://utopia.fyi/type/calculator?c=1080,16,1.25,1920,20,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /**
   * Desktop:
   * - Min: 1080px at 16px base + 1.25 type scale
   * - Max: 1920px at 20px base + 1.5 type scale
   */
  :root {
    --debug-color: blue;
    --step--2: clamp(0.5556rem, 0.7486rem + -0.1608vw, 0.64rem);
    --step--1: clamp(0.8rem, 0.7571rem + 0.0635vw, 0.8333rem);
    --step-0: clamp(1rem, 0.6786rem + 0.4762vw, 1.25rem);
    --step-1: clamp(1.25rem, 0.4464rem + 1.1905vw, 1.875rem);
    --step-2: clamp(1.5625rem, -0.0446rem + 2.381vw, 2.8125rem);
    --step-3: clamp(1.9531rem, -0.9598rem + 4.3155vw, 4.2188rem);
    --step-4: clamp(2.4414rem, -2.5558rem + 7.4033vw, 6.3281rem);
    --step-5: clamp(3.0518rem, -5.2288rem + 12.2675vw, 9.4922rem);
  }
}

body {
  border-top: 4px solid var(--debug-color);
  font-size: var(--step-0);
}
