/*
We are extending Utopia's Fluid CSS system by dividing it into Landscape and Portrait orientations.
This approach benefits smaller desktop devices and tablets by starting with smaller font sizes
and spacing.

Since the CSS orientation property is also applied by desktop browsers when the
aspect ratio of the window is portrait, we add an additional check for the available width.
The Portrait design will only be activated for viewports up to 960px in width.
The Desktop design will be applied from 960px onwards, regardless of the CSS orientation.
*/

@media (orientation: portrait) and (max-width: 959px) {
  /**
   * =======================================================================
   *   MOBILE:
   * =======================================================================
   * - iPhone 5:             320px (font-size: 16.00px)
   * - Samsung S21/S22:      360px (font-size: 17.00px)
   * - iPhone 12/13/14:      390px (font-size: 17.75px)
   * - iPhone 14/15 Pro Max: 430px (font-size: 18.75px)
   * - Samsung S24 Ultra:    480px (font-size: 20.00px) = 1.5 of base resolution
   */

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,480,20,1.25,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  :root {
    --step--1: clamp(0.8rem, 0.4rem + 2vw, 1rem);
    --step-0: clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
    --step-1: clamp(1.25rem, 0.625rem + 3.125vw, 1.5625rem);
    --step-2: clamp(1.5625rem, 0.7813rem + 3.9063vw, 1.9531rem);
    --step-3: clamp(1.9531rem, 0.9766rem + 4.8828vw, 2.4414rem);
    --step-4: clamp(2.4414rem, 1.2207rem + 6.1035vw, 3.0518rem);
  }

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,480,20,1.25,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|10,s-l|m-xl&g=s,l,xl,12 */

  :root {
    --space-3xs: clamp(0.25rem, 0.125rem + 0.625vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.25rem + 1.25vw, 0.625rem);
    --space-xs: clamp(0.75rem, 0.375rem + 1.875vw, 0.9375rem);
    --space-s: clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
    --space-m: clamp(1.5rem, 0.75rem + 3.75vw, 1.875rem);
    --space-l: clamp(2rem, 1rem + 5vw, 2.5rem);
    --space-xl: clamp(3rem, 1.5rem + 7.5vw, 3.75rem);
    --space-2xl: clamp(4rem, 2rem + 10vw, 5rem);
    --space-3xl: clamp(6rem, 3rem + 15vw, 7.5rem);
    --space-4xl: clamp(8rem, 4rem + 20vw, 10rem);
    --space-5xl: clamp(10rem, 5rem + 25vw, 12.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, -0.5rem + 3.75vw, 0.625rem);
    --space-2xs-xs: clamp(0.5rem, -0.375rem + 4.375vw, 0.9375rem);
    --space-xs-s: clamp(0.75rem, -0.25rem + 5vw, 1.25rem);
    --space-s-m: clamp(1rem, -0.75rem + 8.75vw, 1.875rem);
    --space-m-l: clamp(1.5rem, -0.5rem + 10vw, 2.5rem);
    --space-l-xl: clamp(2rem, -1.5rem + 17.5vw, 3.75rem);
    --space-xl-2xl: clamp(3rem, -1rem + 20vw, 5rem);
    --space-2xl-3xl: clamp(4rem, -3rem + 35vw, 7.5rem);
    --space-3xl-4xl: clamp(6rem, -2rem + 40vw, 10rem);
    --space-4xl-5xl: clamp(8rem, -1rem + 45vw, 12.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1rem, -2rem + 15vw, 2.5rem);
    --space-m-xl: clamp(1.5rem, -3rem + 22.5vw, 3.75rem);
  }
}

@media (orientation: landscape) or (min-width: 960px) {
  /**
   * =======================================================================
   *   DESKTOP:
   * =======================================================================
   * - iPad:       960px (font-size: 16.00px)
   * - Laptop:    1280px (font-size: 18.00px)
   * - Desktop:   1440px (font-size: 19.00px)
   * - Large/UHD: 1920px (font-size: 20.00px) = 2x of base resolution
   */

  /* @link https://utopia.fyi/type/calculator?c=960,16,1.25,1920,22,1.414,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  :root {
    --step--1: clamp(0.8rem, 0.6276rem + 0.2874vw, 0.9724rem);
    --step-0: clamp(1rem, 0.625rem + 0.625vw, 1.375rem);
    --step-1: clamp(1.25rem, 0.5558rem + 1.1571vw, 1.9443rem);
    --step-2: clamp(1.5625rem, 0.3758rem + 1.9778vw, 2.7492rem);
    --step-3: clamp(1.9531rem, 0.0189rem + 3.2237vw, 3.8873rem);
    --step-4: clamp(2.4414rem, -0.6139rem + 5.0921vw, 5.4967rem);
  }

  /* @link https://utopia.fyi/space/calculator?c=960,16,1.25,1920,24,1.414,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|10,s-l|m-xl|s-2xl&g=s,l,xl,12 */

  :root {
    --space-3xs: clamp(0.25rem, 0.125rem + 0.2083vw, 0.375rem);
    --space-2xs: clamp(0.5rem, 0.25rem + 0.4167vw, 0.75rem);
    --space-xs: clamp(0.75rem, 0.375rem + 0.625vw, 1.125rem);
    --space-s: clamp(1rem, 0.5rem + 0.8333vw, 1.5rem);
    --space-m: clamp(1.5rem, 0.75rem + 1.25vw, 2.25rem);
    --space-l: clamp(2rem, 1rem + 1.6667vw, 3rem);
    --space-xl: clamp(3rem, 1.5rem + 2.5vw, 4.5rem);
    --space-2xl: clamp(4rem, 2rem + 3.3333vw, 6rem);
    --space-3xl: clamp(6rem, 3rem + 5vw, 9rem);
    --space-4xl: clamp(8rem, 4rem + 6.6667vw, 12rem);
    --space-5xl: clamp(10rem, 5rem + 8.3333vw, 15rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, -0.25rem + 0.8333vw, 0.75rem);
    --space-2xs-xs: clamp(0.5rem, -0.125rem + 1.0417vw, 1.125rem);
    --space-xs-s: clamp(0.75rem, 0rem + 1.25vw, 1.5rem);
    --space-s-m: clamp(1rem, -0.25rem + 2.0833vw, 2.25rem);
    --space-m-l: clamp(1.5rem, 0rem + 2.5vw, 3rem);
    --space-l-xl: clamp(2rem, -0.5rem + 4.1667vw, 4.5rem);
    --space-xl-2xl: clamp(3rem, 0rem + 5vw, 6rem);
    --space-2xl-3xl: clamp(4rem, -1rem + 8.3333vw, 9rem);
    --space-3xl-4xl: clamp(6rem, 0rem + 10vw, 12rem);
    --space-4xl-5xl: clamp(8rem, 1rem + 11.6667vw, 15rem);

    /* Custom pairs */
    --space-s-l: clamp(1rem, -1rem + 3.3333vw, 3rem);
    --space-m-xl: clamp(1.5rem, -1.5rem + 5vw, 4.5rem);
    --space-s-2xl: clamp(1rem, -4rem + 8.3333vw, 6rem);
  }
}

body {
  /**
   * Never apply to the html (:root) element as this would re-adjust all the calculated values.
   * Utopia is using rem already which is based on the html font size.
   */
  font-size: var(--step-0);

  /* Instead of doing this font-by-font we also had good results by just setting it to a uniform globally identical value */
  /* Never understood why all documentation tries to adjust one fallback font instead of just normalizing all fonts. */
  font-size-adjust: 0.5;
}
