/*
We are extending Utopia's Fluid CSS system by dividing it into Landscape and Portrait orientations.
This approach benefits smaller desktop devices and tablets by starting with smaller font sizes
and spacing.

Since the CSS orientation property is also applied by desktop browsers when the
aspect ratio of the window is portrait, we add an additional check for the available width.
The Portrait design will only be activated for viewports up to 960px in width.
The Desktop design will be applied from 960px onwards, regardless of the CSS orientation.
*/

@media (orientation: portrait) and (max-width: 959px) {
  /**
   * Mobile:
   * - Min: 360px at 16px base (Samsung S21/S22) (font-size: 16px)
   * - iPhone SE (3rd generation): 375px (font-size: 16.5px)
   * - iPhone 12/13/14: 390px (font-size: 17px)
   * - iPhone 14 Pro Max: 430px (font-size: 18.3px)
   * - Max: 480px at 20px base (Samsung S24 Ultra) (font-size: 20px)
   */

  /**
    * Notes:
    * - Type Scales below 1.333 are too small for legibility to differentiate between text styles intuitively.
    * - Increasing type scales on mobile while also letting the base font size increase dramatically would badly
    *   influence the legibility of head lines as the number of characters is getting smaller than on smaller devices.
    * - Our solution: Keep the type scale at 1.333 and let the base font size increase.
    */

  /* @link https://utopia.fyi/type/calculator?c=360,16,1.333,480,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  :root {
    --step--2: clamp(0.5628rem, 0.1407rem + 1.8759vw, 0.7035rem);
    --step--1: clamp(0.7502rem, 0.1875rem + 2.5006vw, 0.9377rem);
    --step-0: clamp(1rem, 0.25rem + 3.3333vw, 1.25rem);
    --step-1: clamp(1.333rem, 0.3333rem + 4.4433vw, 1.6663rem);
    --step-2: clamp(1.7769rem, 0.4442rem + 5.923vw, 2.2211rem);
    --step-3: clamp(2.3686rem, 0.5921rem + 7.8953vw, 2.9607rem);
    --step-4: clamp(3.1573rem, 0.7893rem + 10.5244vw, 3.9467rem);
    --step-5: clamp(4.2087rem, 1.0522rem + 14.0291vw, 5.2609rem);
  }

  /* @link https://utopia.fyi/space/calculator?c=360,16,1.333,480,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */

  :root {
    --space-3xs: clamp(0.25rem, 0.0625rem + 0.8333vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.125rem + 1.6667vw, 0.625rem);
    --space-xs: clamp(0.75rem, 0.1875rem + 2.5vw, 0.9375rem);
    --space-s: clamp(1rem, 0.25rem + 3.3333vw, 1.25rem);
    --space-m: clamp(1.5rem, 0.375rem + 5vw, 1.875rem);
    --space-l: clamp(2rem, 0.5rem + 6.6667vw, 2.5rem);
    --space-xl: clamp(3rem, 0.75rem + 10vw, 3.75rem);
    --space-2xl: clamp(4rem, 1rem + 13.3333vw, 5rem);
    --space-3xl: clamp(6rem, 1.5rem + 20vw, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, -0.875rem + 5vw, 0.625rem);
    --space-2xs-xs: clamp(0.5rem, -0.8125rem + 5.8333vw, 0.9375rem);
    --space-xs-s: clamp(0.75rem, -0.75rem + 6.6667vw, 1.25rem);
    --space-s-m: clamp(1rem, -1.625rem + 11.6667vw, 1.875rem);
    --space-m-l: clamp(1.5rem, -1.5rem + 13.3333vw, 2.5rem);
    --space-l-xl: clamp(2rem, -3.25rem + 23.3333vw, 3.75rem);
    --space-xl-2xl: clamp(3rem, -3rem + 26.6667vw, 5rem);
    --space-2xl-3xl: clamp(4rem, -6.5rem + 46.6667vw, 7.5rem);
  }
}

@media (orientation: landscape) or (min-width: 960px) {
  /**
   * Desktop:
   * - Min: 1080px at 16px base + 1.33 type scale
   * - Max: 1920px at 22px base + 1.5 type scale
   */

  /* @link https://utopia.fyi/type/calculator?c=1080,16,1.333,1920,22,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  :root {
    --step--2: clamp(0.5628rem, 0.5006rem + 0.0921vw, 0.6111rem);
    --step--1: clamp(0.7502rem, 0.5361rem + 0.3171vw, 0.9167rem);
    --step-0: clamp(1rem, 0.5179rem + 0.7143vw, 1.375rem);
    --step-1: clamp(1.333rem, 0.3951rem + 1.3895vw, 2.0625rem);
    --step-2: clamp(1.7769rem, 0.0838rem + 2.5083vw, 3.0938rem);
    --step-3: clamp(2.3686rem, -0.5526rem + 4.3277vw, 4.6406rem);
    --step-4: clamp(3.1573rem, -1.733rem + 7.245vw, 6.9609rem);
    --step-5: clamp(4.2087rem, -3.8047rem + 11.8718vw, 10.4414rem);
  }

  /* @link https://utopia.fyi/space/calculator?c=1080,16,1.333,1920,22,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */

  :root {
    --space-3xs: clamp(0.25rem, 0.0893rem + 0.2381vw, 0.375rem);
    --space-2xs: clamp(0.5rem, 0.2589rem + 0.3571vw, 0.6875rem);
    --space-xs: clamp(0.75rem, 0.3482rem + 0.5952vw, 1.0625rem);
    --space-s: clamp(1rem, 0.5179rem + 0.7143vw, 1.375rem);
    --space-m: clamp(1.5rem, 0.7768rem + 1.0714vw, 2.0625rem);
    --space-l: clamp(2rem, 1.0357rem + 1.4286vw, 2.75rem);
    --space-xl: clamp(3rem, 1.5536rem + 2.1429vw, 4.125rem);
    --space-2xl: clamp(4rem, 2.0714rem + 2.8571vw, 5.5rem);
    --space-3xl: clamp(6rem, 3.1071rem + 4.2857vw, 8.25rem);
    --space-4xl: clamp(8rem, 4.1429rem + 5.7143vw, 11rem);
    --space-5xl: clamp(10rem, 5.1786rem + 7.1429vw, 13.75rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, -0.3125rem + 0.8333vw, 0.6875rem);
    --space-2xs-xs: clamp(0.5rem, -0.2232rem + 1.0714vw, 1.0625rem);
    --space-xs-s: clamp(0.75rem, -0.0536rem + 1.1905vw, 1.375rem);
    --space-s-m: clamp(1rem, -0.3661rem + 2.0238vw, 2.0625rem);
    --space-m-l: clamp(1.5rem, -0.1071rem + 2.381vw, 2.75rem);
    --space-l-xl: clamp(2rem, -0.7321rem + 4.0476vw, 4.125rem);
    --space-xl-2xl: clamp(3rem, -0.2143rem + 4.7619vw, 5.5rem);
    --space-2xl-3xl: clamp(4rem, -1.4643rem + 8.0952vw, 8.25rem);
    --space-3xl-4xl: clamp(6rem, -0.4286rem + 9.5238vw, 11rem);
    --space-4xl-5xl: clamp(8rem, 0.6071rem + 10.9524vw, 13.75rem);

    /* Custom pairs */
    --space-s-xl: clamp(1rem, -3.0179rem + 5.9524vw, 4.125rem);
    --space-m-2xl: clamp(1.5rem, -3.6429rem + 7.619vw, 5.5rem);
    --space-l-3xl: clamp(2rem, -6.0357rem + 11.9048vw, 8.25rem);
  }
}

body {
  /**
   * Never apply to the html (:root) element as this would re-adjust all the calculated values.
   * Utopia is using rem already which is based on the html font size.
   */
  font-size: var(--step-0);

  /* Instead of doing this font-by-font we also had good results by just setting it to a uniform globally identical value */
  /* Never understood why all documentation tries to adjust one fallback font instead of just normalizing all fonts. */
  font-size-adjust: 0.5;
}
